 /* FONTS */
 @font-face {
   font-display: swap;
   font-family: Inter;
   font-style: normal;
   font-weight: 400;
   src: url(./assets/fonts/static/Inter-Regular.ttf) format("truetype");
 }

 @font-face {
   font-display: swap;
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   src: url(./assets/fonts/static/Inter-SemiBold.ttf) format("truetype");
 }

 @font-face {
   font-display: swap;
   font-family: Inter;
   font-style: normal;
   font-weight: 700;
   src: url(./assets/fonts/static/Inter-Bold.ttf) format("truetype");
 }

 /* VARIABLES & RESET */

 :root {
   font-family: 'Inter', sans-serif;
   --light-gray: #333333;
   --medium-gray: #1f1f1f;
   --dark-gray: #141414;
   --green: #c4f82a;
   --white: #ffffff;
   font-size: 62.5%;
 }

 *,
 *::before,
 *::after {
   box-sizing: border-box;
   text-decoration: none;
   padding: 0;
   margin: 0;
   border: none;
   outline: none;
   font-style: normal;
   line-height: 1.5;
 }

 body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--dark-gray);
   color: var(--white);
   height: 100vh;
   width: 100vw;
 }

 .screen-reader-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border-width: 0;
 }

 /* COMPONENTS */

 .card {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: var(--medium-gray);
   border-radius: 1.2rem;
   position: relative;
   width: clamp(32.7rem, 81.8vw, 38.4rem);
   height: clamp(57.9rem, 69vw, 61.1rem);
   padding: clamp(2.4rem, 5vw, 4rem);
 }

 .avatar {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

 }

 .avatar__image {
   height: 8.8rem;
   width: 8.8rem;
   border-radius: 50%;
 }

 .avatar__name {
   margin-top: 2.4rem;
   font-size: 2.4rem;
   font-weight: 600;
 }

 .avatar__location {
   font-size: 1.4rem;
   font-weight: 600;
   color: var(--green);
   margin-top: .4rem;
 }

 .avatar__bio {
   font-size: 1.4rem;
   font-weight: 400;
   text-align: center;
   margin-top: 2.4rem;
 }

 .social {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   width: 100%;
   gap: 1.6rem;
   margin-top: 2.4rem;
 }

 .social__link {
   display: block;
   text-align: center;
   padding: 1.2rem 0;
   color: var(--white);
   font-size: 1.4rem;
   font-weight: 700;
   background-color: var(--light-gray);
   border-radius: .8rem;
 }

 .social__link:hover,
 .social__link:focus {
   background-color: var(--green);
   color: var(--dark-gray);
   cursor: pointer;
   font-weight: 600;
 }

 .social__button {
   width: 100%;
   border-radius: .8rem;
 }

 .card__attribution {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: -5rem;
   font-size: 1.1rem;
   text-align: center;
 }

 .card__attribution a {
   color: hsl(228, 45%, 44%);
 }